body{
    background-image: url(../img/background2.png);
    background-size: cover;
}
h1{
	font-size: 150px;
	color: #ffffff;
	line-height: 1.5;
	text-align: center;
}
.p-1{
	font-size: medium;
	color: #ffffff;
}
img {
	max-width: 100%;
}
nav{
	position: relative;
z-index: 99;
}

.text-align{
	text-align: center;
}
/*---------------------
    Helper CSS
-----------------------*/
.image-placeholder-1 {
	width: 1544px;
	height: 283px;
}
.image-games{
	width: 250px;
	height: 250px;
}
.image{
	width: 600px;
	height: 600px;
	margin: 150px;
}

.sep-titulo{
    margin-bottom: 50px;
    margin-top: 100px;
}
.paragraph-1 {
	width: 1140px;
	height: 236px;
    margin-left: 350px;
	color: #ffffff;
	font-family: "Helvetica";
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5;
	text-align: center;
}
.paragraph-2{
	color: #ffffff;
	font-family: "Helvetica";
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5;
	text-align: center;
	
}
.link-bar-1 {
	width: 1544px;
	height: 103px;
	color: #1464f6;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
    margin-top: 25px;
}
.social-logo{
    height: 100px;
    width: 100px;
    margin-left: 200px;
}
.button-1 {
	width: 65px;
	height: 15px;
	padding: 0px 0px 0px 0px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
	border-color: #a39bb473;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 0px 0px 0px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}
